<section class="col-md-12" data-ng-controller="UsersPropertiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Properties</h1>
    </div>

    <p>There's <strong>{{hasTickets()}}</strong> Tickets currently open.</p>

    <div id="properties" class="list-group col-md-12">
        <a data-ng-repeat="property in properties | filter:{userID:authentication.user._id}" data-ng-href="#!/users/properties/{{property._id}}/edit" class="list-group-item">

            <h4 class="list-group-item-heading">{{property.businessName}}</h4>
            <p class="list-group-item-text">{{property.content}}</p>
            <p>Number of tickets: {{getLenth(property.tickets)}}</p>
        </a>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!properties || properties.length">
    	No articles yet, why don't you <a href="/#!/users/properties/create">create one</a>?
    </div>
</section>
